extends layout

block content
  div(ng-app='app')
    div(ui-view='menuView')
    .container
      div(ui-view='contentView')
  //- h1= title
  //- p Welcome to #{title}
  script(src="/libs/jquery/dist/jquery.min.js")
  script(src="/libs/jquery-bridget/jquery-bridget.js")
  script(src="/libs/get-size/get-size.js")
  script(src="/libs/ev-emitter/ev-emitter.js")
  script(src="/libs/desandro-matches-selector/matches-selector.js")
  script(src="/libs/fizzy-ui-utils/utils.js")
  script(src="/libs/outlayer/item.js")
  script(src="/libs/outlayer/outlayer.js")
  script(src="/libs/masonry/masonry.js")
  script(src="/libs/imagesloaded/imagesloaded.js")
  script(src="/libs/moment/min/moment.min.js")
  script(src="/libs/fullcalendar/dist/fullcalendar.min.js")
  script(src="/libs/fullcalendar/dist/gcal.js")
  script(src="/libs/lodash/dist/lodash.min.js")
  script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
  script(src="/libs/angular/angular.min.js")
  script(src="/libs/angular-masonry/angular-masonry.js")
  script(src="/libs/angular-resource/angular-resource.min.js")
  script(src="/libs/angular-animate/angular-animate.min.js")
  script(src="/libs/angular-sanitize/angular-sanitize.min.js")
  script(src="/libs/angular-simple-logger/dist/angular-simple-logger.min.js")
  script(src="/libs/angular-ui-router/release/angular-ui-router.min.js")
  script(src="/libs/angular-ui-select/dist/select.min.js")
  script(src="/libs/ng-file-upload/ng-file-upload-all.min.js")
  script(src="/libs/angular-ui-calendar/src/calendar.js")
  script(src="/libs/angular-ui-notification/dist/angular-ui-notification.min.js")
  script(src="/libs/angular-bootstrap/ui-bootstrap.js")
  script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.js")
  script(src="/libs/leaflet/dist/leaflet.js")
  script(src="/libs/ui-leaflet/dist/ui-leaflet.min.js")
  script(src="/libs/tinymce-dist/tinymce.min.js")
  script(src="/libs/angular-ui-tinymce/dist/tinymce.min.js")
  script(src="/javascripts/app.module.js")
  script(src="/javascripts/controllers/dashboard.controller.js")
  script(src="/javascripts/controllers/menu.controller.js")
  script(src="/javascripts/controllers/band.controller.js")
  script(src="/javascripts/controllers/venue.controller.js")
  script(src="/javascripts/controllers/venue/venue-profile.controller.js")
  script(src="/javascripts/controllers/band/band-dialog.controller.js")
  script(src="/javascripts/controllers/band/band-profile.controller.js")
  script(src="/javascripts/controllers/band/band-profile-bio.controller.js")
  script(src="/javascripts/controllers/band/band-profile-pictures.controller.js")
  script(src="/javascripts/controllers/tour/tour-details.controller.js")
  script(src="/javascripts/services/band.service.js")
  script(src="/javascripts/services/venue.service.js")
  script(src="/javascripts/services/geocoding.service.js")
  script(src="/javascripts/services/utils.service.js")
  script(src="/javascripts/services/modal-view.service.js")
