<ol class="breadcrumb">
    <li>
        <a ui-sref="app.band">Bands</a>
    </li>
    <li>
        <a ui-sref="app.bandprofile({bandId: vm.band._id})">Profile</a>
    </li>
    <li>
        {{vm.band.name}}
    </li>
</ol>
<div class="row">
    <div class="col col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h5 class="panel-title">
                    Current location
                    <span ng-click="vm.mapCollapsed=!vm.mapCollapsed;">
                        <i class="glyphicon pull-right" 
                            ng-class="{'glyphicon-minus': !vm.mapCollapsed, 'glyphicon-plus': vm.mapCollapsed}"></i>
                    </span>
                    
                </h5>
            </div>
            <div class="panel-body" uib-collapse="vm.mapCollapsed">

                <leaflet center="vm.center" width="100%" height="300px"></leaflet>
            </div>
        </div>
        <div class="panel panel-default" ng-if="vm.slides.length">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Pictures
                    <span ng-click="vm.picsCollapsed=!vm.picsCollapsed;">
                            <i class="glyphicon pull-right" 
                                ng-class="{'glyphicon-minus': !vm.picsCollapsed, 'glyphicon-plus': vm.picsCollapsed}"></i>
                    </span>
                </h5>
            </div>
            <div class="panel-body" uib-collapse="vm.picsCollapsed">
                <div style="">
                    <uib-carousel active="vm.activeSlide">
                        <uib-slide ng-repeat="slide in vm.slides track by $index" index="$index">
                            <img ng-src="{{slide.url}}" alt=""  style="margin:auto;">
                        </uib-slide>
                    </uib-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h5 class="panel-title">
                    Upcoming tour legs
                    <span ng-click="vm.tourLegsCollapsed=!vm.tourLegsCollapsed;">
                        <i class="glyphicon pull-right" 
                            ng-class="{'glyphicon-minus': !vm.tourLegsCollapsed, 'glyphicon-plus': vm.tourLegsCollapsed}"></i>
                    </span>
                </h5>
            </div>
            <div class="panel-body" uib-collapse="vm.tourLegsCollapsed">
                <p>
                <a href="#" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add tour leg
                </a>

                </p>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Montevideo <span class="badge">3 venues available</span>
                        </h5>
                        <p class="list-group-item-text">
                            Desde 1/1/2017 a 2/1/2017
                        </p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Punta del Este
                        </h5>
                        <p class="list-group-item-text">
                            Desde 3/1/2017 a 5/1/2017
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Additional Information
                     <span ng-click="vm.additionalInfoCollapsed=!vm.additionalInfoCollapsed;">
                        <i class="glyphicon pull-right" 
                            ng-class="{'glyphicon-minus': !vm.additionalInfoCollapsed, 'glyphicon-plus': vm.additionalInfoCollapsed}"></i>
                    </span>
                </h5>
            </div>
            <div class="panel-body" uib-collapse="vm.additionalInfoCollapsed">
                <div class="list-group">
                    <div  class="list-group-item">
                        <p>

                            Bio
                            <span class="btn-group btn-group-sm pull-right">
                                <button ng-disabled="!vm.band.bio" class="btn btn-default" ng-click="vm.viewBio()">
                                    View
                                </button>
                                <button ui-sref="app.bandprofile.bio({bandId: vm.band._id})" class="btn btn-default">
                                    Edit bio
                                </button>
                            </span>
                        </p>
                    </div>
                    <div href="" class="list-group-item">
                          <p>
                              Past tours
                              <button ui-sref="app.tourdetails" class="btn btn-default btn-sm pull-right">
                                  Add details
                              </button>
                              </p>  
                    </div>
                    <a href="" class="list-group-item">
                        <h5 class="list-group-item-heading">
                            EPK (Electronic Press Kit)
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    <a  class="list-group-item">
                        <h5 class="list-group-item-heading">
                            Records
                        </h5>
                        <p class="list-group-item-text"></p>
                    </a>
                    <div  class="list-group-item">
                        <p>
                            Pictures
                            <span class="btn-group btn-group-sm pull-right">
                                <button ui-sref="app.bandprofile.pictures({bandId: vm.band._id})" 
                                class="btn btn-default" >
                                    View
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>